
@font-face {
    font-family: 'Regular';
    src: url('../../assets/Inter-Regular.ttf');
}

@media  screen and (min-width: 320px) and (max-width: 768px) {
    .lesson {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        width: 92%;
        height: 80px;
        border: 1px solid white;
        margin: 0 auto;
        margin-bottom: 14px;
        color: rgba(255, 255, 255);
        font-size: 24px;
        font-family: "Regular", Arial, Helvetica, sans-serif;
        font-weight: bold;
        padding: 20px;
    }
    .lesson__title {
        width: auto;
        height: 40px;
    }
    .lesson__number {
        width: 40px;
        height: 40px;
    }
    .lesson__next {
        width: 40px;
        height: 40px;
        margin-left: auto;
    }
}

@media screen and (min-width: 768px) {
    .lesson {
        width: 92%;
        height: 80px;
        border: 1px solid white;
        margin: 0 auto;
        margin-bottom: 14px;
        color: white;
    }
}


